<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTh2lIN6xqkyU8U98O2rooVrK3bG8heKA</string>
	<key>GCM_SENDER_ID</key>
	<string>643885092964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.shihangwei.ldrc</string>
	<key>PROJECT_ID</key>
	<string>long-distance-connection</string>
	<key>STORAGE_BUCKET</key>
	<string>long-distance-connection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643885092964:ios:691bf9a2ece797eea88f71</string>
</dict>
</plist>